<launch>

    <!-- Gazebo world -->
    <arg name="world_name" default="$(find scorpiox)/worlds/door_tag.world"/>
    <arg name="rviz_config" default="$(find scorpiox)/config/kortex_april_world.rviz"/>
    <arg name="publish_door_markers" default="true"/>

    <!-- Arguments mirrored from kortex_gazebo/spawn_kortex_robot.launch -->
    <arg name="start_gazebo" default="true"/>
    <arg name="gazebo_gui" default="true"/>
    <arg name="start_rviz" default="true"/>

    <arg name="x0" default="0"/>
    <arg name="y0" default="0"/>
    <arg name="z0" default="0"/>

    <arg name="arm" default="gen3"/>
    <arg name="dof" default="7" if="$(eval arg('arm') == 'gen3')"/>
    <arg name="dof" default="6" if="$(eval arg('arm') == 'gen3_lite')"/>
    <arg name="vision" default="true"/>

    <arg name="gripper" default="" if="$(eval arg('arm') == 'gen3')"/>
    <arg name="gripper" default="gen3_lite_2f" if="$(eval arg('arm') == 'gen3_lite')"/>

    <arg name="robot_name" default="my_$(arg arm)"/>
    <arg name="prefix" default=""/>
    <arg name="cyclic_data_publish_rate" default="40"/>

    <arg name="use_sim_time" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="paused" default="true"/>
    <arg name="start_delay_seconds" default="10"/>

    <!-- Start Gazebo with a selectable world, then let ros_kortex spawn only the robot/controllers/MoveIt. -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg start_gazebo)">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <include file="$(find kortex_gazebo)/launch/spawn_kortex_robot.launch">
        <arg name="start_gazebo" value="false"/>
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="start_rviz" value="false"/>

        <arg name="x0" value="$(arg x0)"/>
        <arg name="y0" value="$(arg y0)"/>
        <arg name="z0" value="$(arg z0)"/>

        <arg name="arm" value="$(arg arm)"/>
        <arg name="dof" value="$(arg dof)"/>
        <arg name="vision" value="$(arg vision)"/>
        <arg name="gripper" value="$(arg gripper)"/>

        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="prefix" value="$(arg prefix)"/>
        <arg name="cyclic_data_publish_rate" value="$(arg cyclic_data_publish_rate)"/>

        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="start_delay_seconds" value="$(arg start_delay_seconds)"/>
    </include>

    <group ns="$(arg robot_name)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" if="$(arg start_rviz)"/>
    </group>

    <node name="door_tag_marker_publisher" pkg="scorpiox" type="door_tag_marker_publisher.py" output="screen" if="$(arg publish_door_markers)">
        <param name="model_name" value="hinged_door_with_tag"/>
        <param name="frame_id" value="world"/>
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="publish_planning_scene" value="true"/>
    </node>

</launch>
