<?xml version="1.0"?>
<launch>
  <arg name="vision" default="true"/>
  <arg name="with_gripper" default="true"/>
  <arg name="arm_prefix" default="arm_"/>
  <arg name="mount_xyz" default="0 0 0.105"/>
  <arg name="mount_rpy" default="0 0 0"/>
  <arg name="use_gui" default="true"/>
  <arg name="start_rviz" default="true"/>
  <arg name="rviz_config" default="$(find scorpiox)/config/spot_kortex.rviz"/>

  <param name="robot_description"
         command="$(find xacro)/xacro $(find scorpiox)/urdf/spot_kortex.urdf.xacro
                  simulation:=false
                  vision:=$(arg vision)
                  with_gripper:=$(arg with_gripper)
                  arm_prefix:=$(arg arm_prefix)
                  mount_xyz:='$(arg mount_xyz)'
                  mount_rpy:='$(arg mount_rpy)'"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"
        unless="$(arg use_gui)"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"
        if="$(arg use_gui)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        output="screen">
    <param name="use_tf_static" value="true"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"
        if="$(arg start_rviz)"/>
</launch>
